<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/genre_show.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oleo+Script+Swash+Caps&family=Oswald:wght@200;500&family=Poiret+One&display=swap" rel="stylesheet">

<%- include('partials/head', {page: 'edit'})  %>
<%- include('partials/nav')  %>
</head>
<body>
    <h1><%= genre %></h1>
    <% for (let i=0; i<genres.length; i++) { %>
        <p><strong><%= genres[i].title %></strong></p>
        <p><%= genres[i].user %></p>
        <p><%= genres[i].content.slice(0, 40) %>...</p>
        <a href="/blogs/<%= genres[i]._id %>">See More</a>
        <p><%= genres[i].date %></p>
        <hr>
    <% } %>
</body>
</html>